<div class="card"  *ngIf="product.title">
  <img class="card-img-top"  *ngIf="product.imageUrl" [src]="product.imageUrl" alt="{{product.title}}">
  <div class="card-body">
    <h5 class="card-title">{{product.title}}</h5>
    <p class="card-text">{{product.category}}</p>
    <p class="card-text"><strong *ngIf="product.price">$</strong> {{product.price}}</p>

  </div>
  <div class="card-footer" *ngIf="showActions">
    <button *ngIf="getQuantity() === 0 else updateQuantity" (click)="addToCart()" class="btn btn-dark btn-block">ADD TO CART</button>
    
    <ng-template #updateQuantity>
      <div class="row no-gutters">
        <div class="col-2">
           <button  (click)="removeFromCart()" class="btn btn-dark btn-block">
             -
           </button>   
        </div>
        <div class="col text-center">
          {{ getQuantity() }} in Cart
        </div>
        <div class="col-2">
          <button (click)="addToCart()" class="btn btn-dark btn-block">
            +
          </button>   
       </div>
      </div>
    </ng-template>
  </div>
</div>
