<div class="card"  *ngIf="product.title">
  <img class="card-img-top"  *ngIf="product.imageUrl" [src]="product.imageUrl" alt="{{product.title}}">
  <div class="card-body">
    <h5 class="card-title">{{product.title}}</h5>
    <p class="card-text">{{product.category}}</p>
    <p class="card-text">{{product.price}}</p>

  </div>
  <div class="card-footer" *ngIf="showActions">
    <button *ngIf="getQuantity() === 0 else updateQuantity" (click)="addToCart()" class="btn btn-dark btn-block">ADD TO CART</button>
    
    <ng-template #updateQuantity>
      <product-quantity [product]="product" [shopping-cart]="shoppingCart"></product-quantity>
    </ng-template>
  </div>
</div>
