
<h1>Shopping Cart</h1>
<ng-container>
  <p>
    You have {{shoppingCartItemCount}} items in your Shopping cart.
  </p>
</ng-container>
<table class="table">
  <thead *ngIf="productIdsArray.length > 0">
    <tr>
      <th></th>
      <th>Product</th>
      <th>Quantity</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let productId of productIdsArray" >
      <td>
        <div [style.backgroundImage]="'url(' + cart.items[productId].product.imageUrl + ')'" class="thumbnail"></div>
      </td>
      <td >
        {{ cart.items[productId].product.title }}
      </td>
      <td >
        <!-- {{ cart.items[productId].quantity }} -->
       
        <product-quantity [product]="cart.items[productId].product" [shopping-cart]="cart">          
        </product-quantity>

      </td>
      <td>
        {{ getPrice(cart.items[productId].product.price , cart.items[productId].quantity)}}
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td><strong> Sum is  {{ cartTotal }}</strong></td>
    </tr>
  </tfoot>
</table>