<header-navbar></header-navbar>

<main role="main" class="container mgTop20">
  <div class="starter-template">
    <!-- <div *ngFor ="let user of userInfo">
      <p>{{ user.data.email}}</p>
      <p>{{user.data.name}}</p>
      <p>{{user.key}}</p>
    </div> -->


    <!-- <div class="container">
      <h2>List Of Users</h2>
      <table class="table">
        <thead>
          <tr>
            <th>S.No</th>
            <th>Email</th>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
          <tr class="info" *ngFor="let user of userInfo ; let i=index">
            <td>{{ i }}</td>
            <td>{{ user.data.email}}</td>
            <td>{{ user.data.name}}</td>
          </tr>
        </tbody>
      </table>
    </div> -->

    <router-outlet></router-outlet>
  </div>

</main>