<div class="row ">
  <div class="col-md-3">
    <product-filter [categoryName]="categoryName"></product-filter>
  </div>
  
  <div class="col mgTop20">
      <div class="row">
          <ng-container *ngFor="let p of filteredProduct; let i=index ; trackBy:trackByProduct">
            <div class="col">
              <product-card [product]="p" [shopping-cart]="cart"></product-card>
            </div>
            <div class="w-100" *ngIf="(i+1) % 2===0"></div>
          </ng-container>
        </div>
  </div>
</div>

